{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <section class="aluguel-carro">
        <h1>Realizar Aluguel de Carro</h1>
        <form action="{% url 'realizar_aluguel_carro' carro_pk=carro.pk %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Realizar Aluguel</button>
        </form>
        <div class="aluguel-buttons">
            <a href="{% url 'lista_aluguel' %}" class="btn btn-outline-primary">Lista de Aluguéis</a>
        </div>
    </section>
{% endblock %}
