{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <section class="aluguel-lista">
        {% for aluguel in alugueis %}
        <h1>Lista de Aluguéis</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <ul>
             <ul class="list-group list-group-flush">
              <li class="list-group-item">Cliente: {{ aluguel.cliente }}</li>
              <li class="list-group-item">Carro: {{ aluguel.carro }}</li>
              <li class="list-group-item">Data do aluguel: {{ aluguel.data_aluguel }}</li>
              <li class="list-group-item">Valor: {{ aluguel.valor }}</li>
              <li class="list-group-item">Data devolucao: {{ aluguel.data_devolucao }}</li>
  
            </ul>
        </ul>
    </section>
    {% endfor %}
{% endblock %}
