{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aluguel de Carros</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cadastro/">Cadastro</a></li>
                <li><a href="/clientes/">Clientes</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/aluguel/">Aluguel</a></li>
                <li><a href="/listadecarros/">Lista de Carros</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>Aluguel de Carros - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
