{% load static %}



<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel _Carros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-rsTOrX9L+O4z+DjSLZmpMj4c/Z6kLZVdBQXJH7uWVz4Ry39V/3lY23S+Ib6IeSwAeq0KmzztJL5v7pf4+/t4Gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-Gq1KnE4QN5NnNNcLyZB4v6+BiNiqwqgFiHk/+LW1BzJ+U8N8+OErMaAgaTlTWzn/"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    
    
    
   
</head>

<body>
    {% include 'partials/_menu.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/_footer.html' %}
    
   

   
    

</body>

</html>